<!DOCTYPE html>

{% load static %}

<html>

	<head>
		<title>Borrusia Dortmund</title>
		<link rel="stylesheet" href="{% static 'css/site.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	</head>
	
	<body>
		<div class="cabecario" >
			<h1><a href="/">Borrusia Dortmund</a></h1>
			<a href="{% url 'noticia_new' %}" class="top-menu">+ Adicionar Novo Post</a>
		</div>
		
		<div class="conteudo" >
			{% block content %}
			{% endblock %}
		</div>
	</body>

</html>